.classify{ background: url(../img/course-classify.jpg) no-repeat center top; height:684px;}
.classify-left{position:fixed; top:100px; width: 240px; background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.classify-left .iconfont{ font-size: 0.75em; color: #bbb;}
.classify-left h4,.classify-left a{ padding: 0 20px; line-height: 56px; border-bottom: 1px solid #eee; display: block; font-weight: normal;}
.classify-left a{ padding: 0 14px 0 36px;}
.classify-left a,.classify-left .iconfont{transition: 0.3s;
                  -moz-transition: 0.3s;
                  -webkit-transition: 0.3s;
                  -o-transition: 0.3s;}
.classify-left a:hover, .classify-left a.cur{ background: #dddddd; color: #b01c40; }
.classify-left a:hover .iconfont, .classify-left a.cur .iconfont{ color: #b01c40;}
.classify-left h5 a{ padding:0 14px 0 20px;}
.classify-left h5:last-child a{ border-bottom: 0px;}

.classify-right{ margin: 50px 0 0 290px;}
.classify-right>div>div{ box-shadow: 0 1px 2px rgba(0,0,0,0.2);}

.classify-course{ box-shadow: 0 1px 2px rgba(0,0,0,0.2); padding: 40px 20px 60px; background: rgba(255,255,255,0.49); background: #fff \0; font-size: 1.5em; line-height: 1.3; margin:0;}
.classify-course a{ color: #b01c40;}
.classify-course a:last-child{ margin:0 0 0 24px;}

/* 课程分类详情 */
.classify-category{min-height: 500px; background: url(../img/security-bg.jpg) no-repeat top center;}
.classify-category .classify-right{ margin: 40px 0 0 260px; width: 938px;}
.classify-title{ margin: 0 0 32px; padding: 22px 20px 20px; background: rgba(255,255,255,0.49); background: #fff \0;}
.classify-title h4{ font-size: 1.5em;}
.classify-title p{ line-height: 2.2; font-size: 0.875em; margin: 20px 0 0 20px;}

.classify-h4{ padding:0 20px; line-height: 40px; border-bottom: 1px solid #d74468; font-weight: normal;}
.classify-h4 .btn{margin-top: 5px;}
.classify-teacher-list{ padding:10px 40px 6px;}
.classify-teacher-list li{ margin: 0 0 10px; float: left}
.classify-teacher-list li:after{content:""; clear: both; display: block;}
.classify-teacher-list img{ width: 74px; max-height: 74px;}
.classify-teacher-list div.fl{ width: 335px; margin: 0 0 0 20px;}
.classify-teacher-list h4{ font-weight: normal; font-size: 0.875em; color: #505050;}
.classify-teacher-list p{ color: #202020; font-size: 0.75em; margin: 26px 0 0;}

.online-course{ margin: 32px 0; padding: 0 0 40px;}
.online-course h4{ margin: 0 0 30px;}
.online-course dl{ margin: 0 40px; line-height: 40px;}
.online-course dt,.online-course dd{ border-bottom: 2px solid #e5e6e6;}
.online-course dt>span{  background: #b01c40; padding:0 30px;}
.online-course dt{ background: url(../img/online-bg.png) no-repeat top right; color: #fff; display: inline-block; padding:0 55px 0 0; font-size: 0.875em;}
.online-course dd{ padding:0 0 0 30px;}
.online-course dd{ font-size: 0.75em; color: #505050;}
.online-course dd a{ color: #505050;}
.online-course span{ display: inline-block;}
.online-title{ width: 396px;}
.online-time,.online-price,.online-num{ width: 100px;}
.online-course .iconfont,.open-course .iconfont{ font-size: 0.875em; margin:0 4px 0 0;}
.online-course dd a{ margin:0 0 0 32px; color: #b01c40}

.open-course{ padding: 0 0 40px;}
.open-summary{ border: 1px solid #d74468; background: #eee; padding: 24px 16px; margin: 30px 40px; border-radius: 10px;}
.open-summary h5{ font-size: 0.875em; margin: 0 0 20px;}
.open-summary p{ font-size: 0.75em; line-height: 1.6; margin: 0 0 14px;}
.open-summary p:last-child{ margin: 0;}

.open-course-list{ margin: 30px 40px; font-size: 0.75em; color: #505050;}
.open-course-list li{ line-height: 50px; background: #eeeeee; border-radius: 12px; padding: 0 30px 0 40px; margin: 0 0 14px;}
.open-course-list span,.open-course-list a{ display: inline-block;}
.open-course-list a{ float: right; margin: 12px 0; width: 100px;height:27px;line-height: 27px; color: #fff; text-align: center; background: #b01c40; border-radius: 10px;}
.open-course-list a.disabled{ background: #888888}
.open-title{ width: 382px;}
.open-address{ width: 156px;}
.open-num{ width: 122px; display: none !important;}

/*学位项目分类页面*/
.classify-right .page-competitive>div{box-shadow: none;}
.page-competitive{background-color:rgba(255,255,255,0.49);}
.page-competitive p{line-height: 18px;margin: 15px 0;}
.page-competitive h2{font-size: 28px;padding: 50px 0 30px;text-align: center;}
.page-competitive h3{font-size: 20px;margin-bottom:25px;}
.page-competitive .cnt{padding: 0 40px 30px;}
.page-competitive .org, .page-competitive .signup{background-color:#eee;}
.page-competitive .course{background-color:#fff;}
.page-competitive .intro .fr{margin-top:20px;}
.page-competitive .intro .btn{font-size:16px;padding:12px 35px;}

/*金融领导力分类页面*/
.classify-right .page-finance>div{box-shadow: none;}
.page-finance .part2, .page-finance .part4{padding:60px 0;background-color:#eee;}
.page-finance .part1{padding: 10px 0 60px;}
.page-finance h2{font-size:42px;line-height:60px;}
.page-finance h3{font-size:28px;}
.page-finance .box{width:432px;height:313px;background-color:#fff;border-radius:15px;}
.page-finance .box h4{font-size:20px;color:#b01c40;text-align:center;padding:15px 0 40px;}
.page-finance .box li{padding: 0 35px;line-height:38px;font-size:14px;}
.page-finance .part2 .wrap{padding: 55px 20px 50px;}
.page-finance .part2 .help{color:#505050;font-size:20px;font-weight:bold;}
.page-finance .part3{padding:60px 0;background-color:#fff;}
.page-finance .part3 h3{padding-bottom:50px;}
.page-finance .part4 dt{background-color:#b01c40;color:#fff;font-size:20px;line-height:30px;text-align:center;}
.page-finance .cases{padding:50px 20px 60px;}
.page-finance .cases dt, .page-finance .cases dd{height:68px;float: left; margin-bottom: 18px;}
.page-finance .cases dt{line-height:68px;width:130px;border-radius:30px 0 0 30px;}
.page-finance .cases dd{width:675px;height:58px;padding:0 30px;line-height:25px;padding-top:10px;background-color:#fff;border-radius:0 30px 30px 0;}
.page-finance .more{padding:0 20px;margin-right:-100px;}
.page-finance .more dl{float:left;width:215px;margin-right:110px;}
.page-finance .more dd{margin:10px 0;text-align:center;height:47px;padding-top:8px;line-height:20px;font-weight:bold;background-color:#fff;}
