
/* 推荐微专业 - item */
.module h4{ width: 96px; border-bottom: 1px solid #3f3b3a; line-height: 1.5; font-size: 1.125em; margin: 0 auto;}
.module p{ font-size: 1em;width: 100%}
.module .module-title{ font-size: 1.5em; line-height: 1.4; margin: 30px 0 40px; height: 60px; width: 100%;}
.module .iconfont,.module-icon{-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
.module-icon{ margin: 0 0 30px;}
.module .iconfont{ font-size: 3.75em; line-height: 108px;}
.module:hover .iconfont{ color: #fff}
.module-icon{ width: 108px; height:108px; border-radius: 54px; display:inline-block; border:1px solid #3a3a3a; background: #fff}
.module:hover .module-icon{border:1px solid #b01c40; background: #b01c40}
.module:hover h4{ color: #af1b40; border-bottom: 1px solid #af1b40;}


/* 推荐微专业 - wrap */
.content-module1{ padding: 40px 0; background: #fff}
.content-module1 a{ display: block; float: left; width: 366px; text-align: center;}
.content-module1 .module,
.content-module1 .module h4{-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}

.index-title{ font-size: 1.625em; text-align: center; border-bottom: 1px solid #808080; line-height: 94px; position: relative; margin: 0 0 60px;}
.index-title:after{ content:""; display: block; position: absolute; bottom: 0px; left:50%; height:3px; width: 120px; background: #b01c40; margin:0 0 0 -60px;}

.course-list{ min-height:96px; position: relative;}

.index-course li,.index-teacher li {float: left;margin: 0 15px 8px 0;width: 228px;height: 250px;position: relative;overflow: hidden;font-size: 0.875em;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}
.index-course li:last-child,.index-teacher li:last-child,.hot-course li:nth-child(4n){ margin: 0 0 8px;}
.index-course a{ color: #737c85;}
.index-course .course-list-img {width: 228px;height: 153px;overflow: hidden;position: relative;}
.course-list-img img {display: block;min-width: 227px;height:152px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s; 
  -ms-transition: 1s; 
  -o-transition: 1s;
}
.index-course li:hover .course-list-img img,.index-teacher li:hover .course-list-img img{ 
  -webkit-transform: scale(1.2);     /* for Chrome || Safari */
  -moz-transform: scale(1.2);        /* for Firefox */
  -ms-transform: scale(1.2);         /* for IE */
  -o-transform: scale(1.2);  
}
.index-course h5,.index-teacher h5 {margin: 10px 0 0;font-weight: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.index-course h6{font-weight: normal;margin:24px 0 12px;}
.index-course .iconfont{ font-size: 0.875em; margin: 0 4px 0 0;}
.index-course p{ color: #b01c40; font-size: 1.25em;}

.index-teacher li { height:300px;}
.index-teacher .course-list-img{width: 228px;height: 228px;overflow: hidden;position: relative;}
.index-teacher h5{ font-size: 1.2em;}
.index-teacher h6{ font-size: 1em; margin: 10px 0 0;}
.index-teacher li:hover h5,.index-teacher li:hover h6{ color: #b01c40;}
.index-teacher .course-list-img img{height:228px;}
