.study-center-right{ width:948px; font-size: 0.875em;}

.my-all-courses{ padding: 20px 0 50px;}
.my-all-courses li{ padding: 0 20px 20px; position: relative;}
.my-all-courses li:before{ content: ""; display: block; position: absolute; left:188px; top:20px; width: 2px; height:100%; background: #b01c40}
.my-all-courses-left{ width: 98px; color: #505050; text-align: right; line-height: 22px; margin:16px 70px 0 0;}
.my-all-courses-left em{ color: #aaaaaa}

.my-all-courses-right{ padding: 0 0 0 36px; position: relative;}
.my-all-courses-right:before{ position: absolute; left: -7px; top:18px; content: ""; display: block; width: 10px;height:10px; border-radius: 50%; background: #b01c40;border:3px solid #fff;}

.my-all-courses-right>div{ padding:12px 18px 4px; border: 1px solid #d3d3d3; border-radius: 4px; width:660px; line-height: 28px; font-size: 12px;}
.my-all-courses-right h4{ border-bottom: 1px solid #e8e8e8; font-size: 14px;padding:0 0 6px;}
.my-all-courses-right h4 em{ font-size: 12px;}
.my-all-courses-right p{ color: #aaaaaa; border-bottom: 1px solid #e8e8e8; padding: 6px 0;}
.my-all-courses-right p:last-child{ border-bottom: 0}
.my-all-courses-right p a{ color: #b01c40;}
.my-all-courses-right p em{ border-right:1px solid #e8e8e8; margin:0 14px 0 0; padding: 0 14px 0 0;}

.my-all-course-bag p span{ color: #505050}


.study-collect li{ width: 200px; height:180px; margin:0 24px 16px 0;border:1px solid #bfbfbf;}
.study-collect li:nth-child(4n){ margin:0 0 16px;}
.study-collect h5,.study-collect h6{ padding:0 10px;}
.study-collect .course-list-img { width: 200px; height: 112px; overflow: hidden; position: relative;}

.study-test .table{ border-color: #d3d3d3;border-radius:6px;}
.study-test .table th,.study-test .table td{ border-color: #d3d3d3; background: #fff;}
.study-test .table th{ padding: 12px; font-size: 14px;}
.study-test .table td{ color: #aaaaaa}
.study-test .table td a{ color: #b01c40;}
.study-test .table td:last-child a{ margin: 0 14px;}

.study-result{ margin: 24px 0 0; line-height: 30px; color: #505050}
.study-result-title{ padding: 10px 20px; border-bottom: 1px solid #e8e8e8;}
.study-result-title em{ font-size: 12px; margin: 0 20px 0 0;}

.study-result-content{ padding: 0 20px; font-size: 12px;}
.study-result-content dl{ padding:20px 0; border-bottom: 1px solid #e8e8e8;}
.study-result-content input{ margin:0 6px 0 0;}