body{ color: #3f3b3a; background: #f5f5f5}
nav li{float:left;}
.fl{ float: left;}
.fr{ float: right;}
.cl:after{ content:""; display:block; clear:both;}
.bg-white{ background: #fff}
.show{ display: block;}
.hide{ display: none}
button{ cursor: pointer; outline: none; border: 0;}

.mar40{ margin-top: 40px !important; margin-bottom: 40px !important;}

.input-error{box-shadow: 0 0 6px rgba(176,28,64,0.7) !important; border: 1px solid #b01c40 !important}
.text-success{ font-size: 12px; color: #58ba36}
.text-error{ font-size: 12px;}

.container { width: 1200px; margin: 0 auto;}
.h1-title{ line-height: 40px; padding:0 20px; border-bottom: 1px solid #b01c40; background: #fff; color: #3f3b3a; font-size: 1em;}
.h1-title a{ font-size: 0.875em;}
.h4-title { line-height: 40px; padding: 0 32px; border-bottom: 1px solid #e8e8e8; background: #fff; color: #3f3b3a; font-size: 1em;}


/* head */
.header{ height:60px; background: #fff;}
.logo{ width: 120px; margin:6px 24px 6px 0;}
.logo img{ width: 100%;}

.header-nav{position:relative; line-height:58px;}
.header-nav li{-webkit-transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;z-index:99;display:block;position:relative;font-size:1em;position:relative; border-top: 2px solid #fff}
.header-nav li a{display:block;padding:0 40px;}
.header-nav li.cur,.header-nav li:hover{border-top: 2px solid #b01c40;}

.header-search{border:1px solid #ddd7d9; border-radius: 3px; width: 306px;padding: 4px 0px 4px 10px;margin: 14px 0;}
.header-search input{border:0px;font-size: 0.75em;height: 22px; background: none;width: 272px;line-height: 22px;outline: none;}
.header-search a{outline: none; border: 0px;padding: 2px 10px;display: inline-block;width: 0px;}
.header-search .iconfont{ color: #8e8e8e}

.header-user{ /*display:none; */line-height: 60px; font-size: 0.875em}
.header-user button{ padding: 0 13px; display: inline-block; background: none; border: 0px; line-height: 58px;}

.head-account { width: 120px; line-height: 58px; text-align: center;  position: relative;  border: 1px solid transparent;  }
.head-account .user-picture { margin: -2px 4px 0 0;  }
.head-account .user-picture img { vertical-align: middle; width: 27px; height:27px;}
.head-account .user-name { margin: 0 8px 0 0;  white-space: nowrap;max-width: 76px;  overflow: hidden;  text-overflow: ellipsis;  }
.headerUser:after{display:block;content:"";clear:both;}
.head-account:hover,.head-account.hover,.unread_count:hover,.unread_count.hover{border:1px solid #e3e3e3; background-color:#fff;}
.menu,.unread_messages{position:absolute;top:54px;background: #fff; border: 1px solid #e3e3e3;border-top: 0px;border-collapse: collapse; line-height: 1.5em; text-align: center;font-size:1em;z-index:999}
.menu{right:-1px; top:58px; width: 120px;}
.menu li a{ color: #818080; padding: 6px 15px;display:block;}
.menu li a:hover{color:#fff;background:#a6284b}
.unread_count {  width: 70px; line-height: 58px; margin: 0; text-align: center;  position: relative;  border: 1px solid transparent; }
.unread_count>span { position:absolute; top:10px;line-height:14px; background: #a6294a;  color: #ffffff;  font-size: 12px;  padding: 0 4px; text-align: center; }
.unread_count.messages_empty>span { background: #6d6c6d;}

/* banner */
.banner{ background: url(../img/banner-bg.jpg) no-repeat top center; height:480px; text-align: center;}
.banner-top{ padding: 144px 0 110px; background: url(../img/banner-text.png) no-repeat center center; height:48px; text-indent: -999em;}

.banner-all-course{ margin:0 0 46px; background: #b01c40; color: #fff; font-size: 1.125em; width: 250px; line-height: 55px; display: inline-block; box-shadow: inset 0 -2px 0px rgba(0,0,0,0.15)}

.banner-bottom a{ font-size: 1.125em; color: #fff; text-decoration: underline; margin:0 56px; text-shadow: 0 2px 2px rgba(0,0,0,0.75);}
.banner-bottom a.curr{ color: #b01c40;}

/* content */
.content{ padding: 0 0 60px;}

/* footer */
.footer{ background: #1e0008; padding: 60px 0 0;}
.footer h4{ font-size: 1.125em; font-weight: normal; color: #f5f5f5; border-left:1px solid #f5f5f5; padding:0 0 0 18px; margin: 0 0 14px;}
.footer-top{ padding: 0 0 40px; border-bottom: 2px solid #888888}
.footer address{ margin: 10px 0 0; color: #f5f5f5; line-height: 1.4; font-size: 0.875em;}
.footer address a{ color: #f5f5f5;}
.footer-top-menu{ margin: 0 158px 0 150px;}
.footer-top-menu a{line-height: 2.4; font-size: 0.875em; color: #f5f5f5; display: block; margin: 0 0 0 18px;}
.footer-top-menu .iconfont{ font-size: 0.75em; margin: 0 10px 0 0;}

.footer-top-app img,.footer-top-ew img{ width: 90px; height:90px; margin: 30px 0 0 18px;}
.footer-top-app{ margin: 0 150px 0 0;}

.footer-bottom {color: #f5f5f5;font-size: 0.75em; line-height: 2.4;padding:20px 0;}
.footer-bottom a{ color: #f5f5f5; margin: 0 6px;}

/* loading */
.loading,.no-course{ text-align: center; position: absolute; display: inline-block; left:50%; top:50%;}
.loading{margin:-24px 0 0 -25px;}
.no-course{ margin: -8px 0 0 -32px;}
.fa-spin {
	display: inline-block;
	font-size: 3em !important;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* pop */
.pop{ background: #fff; position: fixed; left: 50%; top:50%; z-index: 999; border: 1px solid #bebebe; border-radius: 6px; box-shadow: 0px 18px 24px rgba(0,0,0,0.5)}
.screen-bg{ width: 100%; height:100%; background: rgba(0,0,0,0.5); position: fixed; left:0; top:0; z-index: 998;}
.login-pop,.register-pop{ width: 516px; padding:26px 0 40px;}
.login-pop{ height:407px; margin: -237px 0 0 -258px;}
.register-pop{ height:583px; margin: -325px 0 0 -258px;}

.iconfont.icon-close{ position: absolute; right:12px; top:12px; font-size: 1.5em; cursor: pointer;}


.formsy-list{ margin: 0 0 22px; position: relative;}
.formsy-input{width: 304px; line-height: 46px; padding:0 12px; border-radius: 4px; 
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1); border: 1px solid #e2e2e2;margin: 10px 0 0;}

.pop-logo{ background: url(../img/logo.png) no-repeat top center; background-size: 130px; padding: 0 0 20px; width: 328px; height:48px;
  text-indent: -999em; border-bottom: 1px solid #e4e4e4; margin:0 auto 22px;}

.pop-text{ width: 328px; margin: 0 auto; color: #808080; font-size: 0.875em;}
.pop-text .formsy-list.cl{ font-size: 0.875em;}
.pop-text .formsy-list.cl a,.text-error,.pop-other .fl button{ color: #b01c40; background: none}
.pop-text .formsy-list.cl dd{ width: auto; line-height: 12px; border: 0; box-shadow: 0 0 0 #fff; margin:0;padding:0;}

.formsy-list input[type="text"],input[type="password"]{ outline: none; height:38px; width:100%; border:0;}
.formsy-list input[type="checkbox"]{ margin: 0 4px 0 0;}
.formsy-list .iconfont{ font-size: 1.125em; margin:0 6px 0 0;}

.pop-btn button{ display:block; width:100%;line-height: 44px;
   text-align: center; font-size:1.125em;}
.pop-btn button,.valid-btn{ border-radius: 4px; border: 1px solid #b01c40; color: #fff; text-shadow:0 1px 0 #9f9f9f;
            background:red; /* 一些不支持背景渐变的浏览器 */  
            background:-moz-linear-gradient(top, #d0275a, #a81939);  
            background:-webkit-gradient(linear, 0 0, 0 bottom, from(#d0275a), to(#a81939));  
            background:-o-linear-gradient(top, #d0275a, #a81939); }
.pop-other{ margin: 20px 0 0;}
.pop-other,.pop-other a{ color: #595959;}

.valid-btn{ width: 90px !important; line-height: 32px; font-size: 12px; margin:7px -5px 7px 0;}
.pop-btn button.disabled,.yz-btn{ border: 1px solid #888888;border-radius:4px;background: #888888; color: #fff; /* 一些不支持背景渐变的浏览器 */  
            background:-moz-linear-gradient(top, #c6c6c6, #787878);  
            background:-webkit-gradient(linear, 0 0, 0 bottom, from(#c6c6c6), to(#787878));  
            background:-o-linear-gradient(top, #c6c6c6, #787878);}
.formsy-valid input{ width:219px !important;}

.validation-error{ color: #b01c40; font-size: 12px; position: absolute; top: 0; right: 0;}


/* table */
.table { border: 1px solid #a0a0a0; background: #fff; color: #505050; font-size: 12px; overflow: hidden;}
.table table{ text-align: center; width: 100%; line-height: 22px;}
.table th { background: #eff0ef; border-right: 1px solid #a0a0a0; vertical-align: middle; padding: 8px;}
.table td { padding: 8px; border-right: 1px solid #a0a0a0; border-top: 1px solid #a0a0a0; vertical-align: middle; text-align: center;}
.table th:last-child,.table td:last-child{ border-right:0;}
/*.table { background: #fff; font-size: 12px;}
.table table{ text-align: center; width: 100%; line-height: 22px;}
.table th { border-width: 1px; padding: 8px; border-style: solid; border-color: #a0a0a0; background-color: #eff0ef;}
.table td { border-width: 1px; padding: 8px; border-style: solid; border-color: #a0a0a0; background-color: #ffffff;}*/

.btn{ border: 1px solid #b01c40;border-radius:4px; color: #fff !important;resize:none; outline: none; font-size: 14px;
  background:red; /* 一些不支持背景渐变的浏览器 */  
  background:-moz-linear-gradient(top, #d0275a, #a81939);  
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#d0275a), to(#a81939));  
  background:-o-linear-gradient(top, #d0275a, #a81939); padding:8px 20px; 
  display: inline-block; 
  -webkit-transition: all 0.5s ease-in-out; 
  -moz-transition: all 0.5s ease-in-out; 
  -o-transition: all 0.5s ease-in-out; 
  transition: all 0.5s ease-in-out;}
.btn:hover { background: #971737;}

.content-left{ width:230px;}
.content-tabs{ line-height: 48px; text-align: center}
.content-tabs li{ border-bottom: 2px solid #c4c4c4; font-size: 0.875em;}
.content-tabs li.current{ background: #b01c40;}
.content-tabs li a{ display: block;}
.content-tabs li.current a{ color: #fff;}

.nav-tabs{ border-bottom: 1px solid #e8e8e8; text-align: center; padding: 0 9px;}
.nav-tabs li{ float: left; width: 110px; line-height: 28px; padding: 9px 0; position: relative;}
.nav-tabs li a{ display: block; border-right: 1px solid #e8e8e8;}
.nav-tabs li:last-child a{ border-right: 0;}
.nav-tabs li.current:after{ content: ""; display: block; background: #b01c40; position: absolute; width: 56px; height:2px; left:50%; bottom:0; margin: 0 0 0 -28px;}


.shadow{ box-shadow: 4px 6px 6px rgba(0,0,0,0.2);}
.form-red {color: red;}
.formsy-input input[type="text"]{ outline: none; height:38px; width:100%; border:0;}

